VITE_APPWRITE_URL2=test-environment
VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="69bea..p"
VITE_APPWRITE_DATABASE_ID="69bea"
VITE_APPWRITE_COLLECTION_ID="articles..q"
VITE_APPWRITE_BUCKET_ID="69bec..r"